# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
ENV/
venv/
build/
dist/

# Editors/OS
.vscode/
*.code-workspace
.DS_Store

# Git
.git/
.gitignore

# Local runtime state
config.json
debug_dotenv.py
